<!DOCTYPE html>
<html>
  <head>
    <title>Bookshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'bookshop/index' %>
    <%= stylesheet_pack_tag 'bookshop/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
